table{
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 1%;
  }
  td,th{
      border: 1px solid black;
      text-align: left;
      padding: 8px;
  }
  th{
      background-color: gold;
  }

  tr:nth-child(even){
      background-color: wheat;
  }